@import '../../globalStyles//ColorTheme.scss';

.generic-button{
    border: none;
    background-color: $primaryColor;
    color: #fff;
    font-size: 15px;
    padding: 8px 50px 8px 50px;
    border-radius: 50px;
    outline: none;

    &:hover{
        opacity: 0.8;
    }

}