@import '../../globalStyles/ColorTheme.scss';

.container-card{    
    background-color: $foregroundColor;
    box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.15);
    font-size: 13px;
    border-radius: 15px;
    padding: 20px;
    margin: 10px 0 10px 0;
    
    .card-header{
        display: flex;
        align-items: flex-start;

        .info-header-container{
            margin-right: 10px;
            margin-bottom: 10px;               

            h3{
                color: $primaryColor;
            }           
        }

        .name{
            width: 80px;
        }

        .specialty{
            width: 105px;
        }

        .begin{
            width: 80px;
        }

        .end{
            width: 80px;
        }
    }

    .card-description{
        h3{
            color: $primaryColor;
        }
    }

    .buttons-container{
        margin-top: 5px;
        display: flex;
        justify-content: flex-end;
    }
}